$clr_white: #fff;
$clr_off_white: #eff0f1;
$clr_grey: #444;
$clr_grey_dark: #333;
$clr_grey_light: #cbd5db;
$clr_light_grey: #c1c2c7;
$clr_blue: #3864db;
$clr_blue_light: #007bff;


body {
    background: $clr_off_white;
    color: $clr_grey_dark;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: $clr_grey;
}

.bg-steel {
    background-color: $clr_blue;
}

.site-header .navbar-nav .nav-link {
    color: $clr_white;

    &:hover {
		color: $clr_light_grey;
    }

    &:active {
		font-weight: 500;
    }
}

.content-section {
    background: $clr_white;
    padding: 10px 20px;
    border: 1px solid $clr_grey_light;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
	color: $clr_grey;
	
	&:hover {
		color: $clr_blue_light;
		text-decoration: none;		
	}
}

.article-content {
    white-space: pre-line;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
	border-bottom: 1px solid $clr_grey_light;
	
	a:hover {
		color: $clr_grey_dark;
		text-decoration: none;
	}
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}