{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
            <legend class="border-bottom mb-4">About YouBlog</legend>
            <p>YouBlog is a blogging platform where anyone can post and share their own blogs. Corrupti magnam sed perspiciatis aspernatur, voluptas dolores voluptates nisi? Pariatur distinctio voluptatum repudiandae nam dolorem delectus minus.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti magnam sed perspiciatis aspernatur nobis vel earum doloremque nemo, voluptas dolores voluptates nisi? Pariatur distinctio voluptatum repudiandae nam dolorem delectus minus.</p>
    </div>
{% endblock %}